<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Thông Tin Shipping</h2>                 
                        </div>
                    </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
            <form class="form-horizontal" name="form" novalidate>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tạo Mới Thông Tin Shipping
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label col-sm-2" for="citiSelect">*Thành Phố </label>
                                    <div class="col-sm-10">          
                                        <select 
                                            name="citiSelect" 
                                            id="citiSelect" 
                                            class="form-control" 
                                            ng-options="option.city for option in vm.cityList track by option.cityId" 
                                            ng-model="vm.City" required>
                                        </select>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.citiSelect.$dirty && form.citiSelect.$valid"></span>
                                    </div>
                                </div> 
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label col-sm-2" for="districtSelect">*Quận/Huyện </label>
                                    <div class="col-sm-10">          
                                        <select 
                                            name="districtSelect" 
                                            id="districtSelect" 
                                            class="form-control" 
                                            ng-options="option.district for option in vm.districtList track by option.districtId" 
                                            ng-model="vm.District" required>
                                        </select>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.districtSelect.$dirty && form.districtSelect.$valid"></span>
                                    </div>
                                </div> 
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label col-sm-2" for="cost">*Giá Ship: </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" ng-model="vm.ShipCost.cost" id="cost" placeholder="Nhập giá ship" name="cost" required>  
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.cost.$dirty && form.cost.$valid"></span>
                                        <span ng-show="form.cost.$error.required">Không được bỏ trống</span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">        
                             <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-default pull-right" 
                                    ng-click="vm.cancel()"
                                    >
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    <b>Hủy</b>
                                </a>
                                <button type="submit" ng-if="vm.isCreate()"
                                    ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" 
                                    class="btn btn-primary pull-right" 
                                    ng-click="vm.create()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <b>Tạo Mới</b>
                                </button>   
                                <button type="submit" ng-if="vm.isEdit()"
                                    ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" 
                                    class="btn btn-primary pull-right" 
                                    ng-click="vm.edit()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <b>Cập Nhập</b>
                                </button>          
                            </div> 
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>