<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Tạo Mới Chủ Đề</h2>                 
                        </div>
                    </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
            <form class="form-horizontal" name="form" novalidate>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tạo mới chủ đề
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label col-sm-2" for="categoryname">*Tên Chủ Đề: </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" ng-model="vm.Category.name" id="categoryname" placeholder="Nhập tên chủ đề" name="categoryname" required>  
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.categoryname.$dirty && form.categoryname.$valid"></span>
                                        <span ng-show="form.categoryname.$error.required">Không được bỏ trống</span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">        
                             <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-default pull-right" 
                                    ng-click="vm.cancel()"
                                    >
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    <b>Hủy</b>
                                </a>
                                <button type="submit" ng-if="vm.isCreate()"
                                    ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" 
                                    class="btn btn-primary pull-right" 
                                    ng-click="vm.create()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <b>Tạo Mới</b>
                                </button>   
                                <button type="submit" ng-if="vm.isEdit()"
                                    ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" 
                                    class="btn btn-primary pull-right" 
                                    ng-click="vm.edit()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <b>Cập Nhập</b>
                                </button>          
                            </div> 
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>