<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>F | FoodTech</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="/admin/styles/metisMenu/metisMenu.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/styles/css/sb-admin-2.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="YelaApplicationLogin">

    <div class="container" ng-controller="LoginController as vm">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quản Trị FoodTech</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" ng-model="vm.userName" placeholder="Tài Khoản" name="text" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-model="vm.password" placeholder="Mật Khẩu" name="password" type="password" value="">
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div> -->
                                <!-- Change this to a button or input when using this as a form -->
                                <a ng-click="vm.login()" class="btn btn-lg btn-success btn-block">Đăng Nhập</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/admin/styles/metisMenu/metisMenu.min.js"></script>
    <script src="/admin/styles/js/sb-admin-2.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <!--Login-->
    <script src="/admin/scripts/login/login.module.js"></script>
    <script src="/admin/scripts/login/login.controller.js"></script>

</body>

</html>
