/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
  
    display: none;
  }
  modal .modal {
    /* modal container fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
  
    z-index: 1000;
    /* enables scrolling for tall modals */
  
    overflow: auto;
    display: block;
    z-index: 2001;
  }
  modal .modal .modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
  
    margin: 9rem;
    border-radius: 8px;
  }
  modal .modal-background {
    /* modal background fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
  
    background-color: #333;
    opacity: 0.75;
    /* z-index must be below .modal and above everything else  */
  
    z-index: 2000;
  }
  body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
  }
  modal .modal span.close {
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -10px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.7;
    color: #fff;
    background-color: black;
  }

  modal .product-image-infomation {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 60px;
    position: relative;
  }

  modal .product-content-infomation {
    padding-top: 0;
    padding-left: 1rem;
    border: none
  }

  modal h3 {
    color: #696763
  }

  .content-left {
    text-align: left
  }
  