	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<!-- <div class="col-sm-6">
							<div class="box-footerservice">
								<div>
									<div class="pull-left icon-service icon-footer-top"><i class="fa fa-truck"></i></div>
									<h3 class="footerservice-title">{{ 'freeDelivery' | i18next }}</h3>
									<div class="footerservice-content"> {{ 'forOrderFrom' | i18next }}</div>
								</div>
							</div>
						</div> -->
						<div class="col-sm-6">
							<div class="box-footerservice">
								<div>
									<!-- <div class="pull-left icon-service icon-footer-top"><i class="fa fa-phone"></i></div> -->
									<h3 class="footerservice-title">{{ 'orderOnline' | i18next }}</h3>
									<div class="footerservice-content">{{ 'contactOrder' | i18next }} 0933800024</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2">						
						<div class="col-sm-12">
							<div class="video-gallery text-center">
								<a href="https://www.youtube.com/channel/UCmSjh6ATrTvVQmRAqVC9Sqw" target="_blank">
									<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>FoodTech Youtube</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="single-widget">
							<h2>{{ 'facebook' | i18next }}</h2>
							<div class="fb-page" data-href="https://www.facebook.com/FoodTech-585026038584164/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/FoodTech-585026038584164/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FoodTech-585026038584164/">FoodTech</a></blockquote></div>

							<!-- <div class="zalo-follow-button" data-oaid="2730045833870873800" data-cover="yes" data-article="1" data-width="340" data-height="400"></div> -->
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single-widget">
							<!-- <h2>{{ 'storeMap' | i18next }}</h2> -->
							<h2>Thông Tin Cửa Hàng</h2>
							<address>
								<p>Điện thoại: 0933800024</p>
								</br>
								<p>Địa chỉ: 11/3a Bis, Đường ĐHT 19, KP 1, Phường Đông Hưng Thuận, Quận 12, TP Hồ Chí Minh</p>
								</br>
								<p>Email: foodtechshopvn@gmail.com</p>
							</address>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single-widget">
							<h2>{{ 'registerGetSaleOffCode' | i18next }}</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Nhập email của bạn" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>{{ 'registerGetCodeMsg' | i18next }}</p>
								<div class="fb-share-button" data-href="https://www.facebook.com/Yela-Shop-1845648855687460/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FYela-Shop-1845648855687460%2F&amp;src=sdkpreparse">Chia sẻ</a></div>
							</form>
						</div>
						<div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" style="z-index: 1000; margin-top: 0px"data-toggle="dropdown">
									<span ng-i18next="translate"></span>
									<i class="fa fa-language" aria-hidden="true"></i>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href ng-click="vm.changeLanguage('vi')" ng-i18next="vietnameese"></a></li>
									<li><a href ng-click="vm.changeLanguage('en')" ng-i18next="english"></a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">www.foodtechshop.vn. Powered by FoodTech Team.</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->