	<div class="modal fade" id="updateCategory" role="dialog">
		<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"><b>Cập Nhật Danh Mục</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-style-5">
					<label>Tên Danh Mục *</label>
					<input type="text" placeholder="Tên Danh Mục *"  ng-model="Category.name" />
					<label>Ngày Tạo Danh Mục *</label>
					<input type="text" ng-disabled="true" placeholder="Ngày Tạo Danh Mục *"  ng-model="Category.createdAt | date" />
					<label>Ngày Cập Nhật Danh Mục *</label>
					<input type="text" ng-disabled="true" placeholder="Ngày Cập Nhật Danh Mục *"  ng-model="Category.updatedAt | date" />
				</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="updateCategory()" data-dismiss="modal">Lưu</button>
			<button type="button" class="btn btn-danger" ng-click="clear()" data-dismiss="modal">Đóng</button>
			</div>
		</div>
		</div>
	</div>