<link rel="stylesheet" href="scripts/clientComponents/socialButton/socialButton.directive.css">

<div class="share-buttons">
        <!-- <div class="share-button">
          <div class="share-button-secondary">
            <div class="share-button-secondary-content">
              share on twitter
            </div>
          </div>
          <div class="share-button-primary">
            <i class="share-button-icon fa fa-twitter"></i>
          </div>
        </div> -->
      
        <div class="share-button">
          <div class="share-button-secondary">
            <div class="share-button-secondary-content">
              <a href="https://www.facebook.com/foodtechshop" target="blank">Facebook</a>
            </div>
          </div>
          <div class="share-button-primary">
            <i class="share-button-icon fa fa-facebook"></i>
          </div>
        </div>
      
        <!-- <div class="share-button">
          <div class="share-button-secondary">
            <div class="share-button-secondary-content">
              pin on pinterest
            </div>
          </div>
          <div class="share-button-primary">
            <i class="share-button-icon fa fa-pinterest"></i>
          </div>
        </div> -->
        
        <div class="share-button">
          <div class="share-button-secondary">
            <div class="share-button-secondary-content">
              <a href="https://www.instagram.com/foodtechshop.vn/" target="blank">Instagram</a>
            </div>
          </div>
          <div class="share-button-primary">
            <i class="share-button-icon fa fa-instagram"></i>
          </div>
        </div>
        
        <div class="share-button">
          <div class="share-button-secondary">
            <div class="share-button-secondary-content">
              <a href="https://shopee.vn/foodtechshop" target="blank">Shopee</a>
            </div>
          </div>
          <div class="share-button-primary">
            <i class="share-button-icon fa fa-shopping-bag"></i>
          </div>
        </div>

        <div class="share-button" ng-if="vm.isCustomerLogin()">
          <div class="share-button-secondary">
            <div class="share-button-secondary-content">
              <a ng-click="vm.toggleChatBox()">Chat</a>
            </div>
          </div>
          <div class="share-button-primary" ng-click="vm.toggleChatBox()">
            <i class="share-button-icon fa fa-comments"></i>
          </div>
        </div>

      </div>
      