<section id="form" style="margin-top: 10px; margin-bottom: 60px" ><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>{{ 'signInAccount' | i18next}}</h2>
                    <form action="#">
                        <input type="text" placeholder="{{ 'name' | i18next }}" />
                        <input type="email" placeholder="{{ 'email' | i18next }}" />
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            {{ 'keepSignIn' | i18next }}
                        </span>
                        <button type="submit" class="btn btn-default">{{ 'signIn' | i18next }}</button>
                    </form>
                </div><!--/login form-->
                <div class="login-form">
                    <h2>{{ 'signInByGGFF' | i18next}}</h2>
                    <button type="submit" 
                        class="btn btn-default" 
                        style="background-color: #EA5154; color: #fff" 
                        ng-click="vm.onGoogleLogin();"
                        ><i class="fa fa-google"></i> Google</button>
                    <button type="submit" 
                        class="btn btn-default" 
                        style="background-color: #4264AA; color: #fff" 
                        ng-click="vm.onFacebookLogin();"
                        ><i class="fa fa-facebook"></i> Facebook</button>
                </div>
            </div>
            <div class="col-sm-1">
                <h2 class="or">{{ 'or' | i18next }}</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>{{ 'signupLabel' | i18next }}</h2>
                    <form action="#">
                        <input type="text" placeholder="{{ 'name' | i18next }}"/>
                        <input type="email" placeholder="{{ 'email' | i18next }}"/>
                        <input type="password" placeholder="{{ 'password' | i18next }}"/>
                        <button type="submit" class="btn btn-default">{{ 'signup' | i18next }}</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->