<section ng-if="vm.isLoginPage" id="form" style="margin-top: 10px; margin-bottom: 60px" ><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>{{ 'signInAccount' | i18next}}</h2>
                    <form>
                        <input type="email" ng-model="vm.customerSignIn.email" placeholder="{{ 'email' | i18next }}" />
                        <input type="password" ng-model="vm.customerSignIn.password" placeholder="{{ 'password' | i18next }}" />
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            {{ 'keepSignIn' | i18next }}
                        </span>
                        <button ng-click="vm.onSignIn()" class="btn btn-default">{{ 'signIn' | i18next }}</button>
                    </form>
                </div><!--/login form-->
                <div class="login-form">
                    <h2>{{ 'signInByGGFF' | i18next}}</h2>
                    <button type="submit" 
                        class="btn btn-default" 
                        style="background-color: #EA5154; color: #fff" 
                        ng-click="vm.onGoogleLogin();"
                        ><i class="fa fa-google"></i> Google</button>
                    <button type="submit" 
                        class="btn btn-default" 
                        style="background-color: #4264AA; color: #fff" 
                        ng-click="vm.onFacebookLogin();"
                        ><i class="fa fa-facebook"></i> Facebook</button>
                </div>
            </div>
            <div class="col-sm-1">
                <h2 class="or">{{ 'or' | i18next }}</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>{{ 'signupLabel' | i18next }}</h2>
                    <form>
                        <input type="text" ng-model="vm.customerSignUp.firstName" placeholder="{{ 'firstName' | i18next }}"/>
                        <input type="text" ng-model="vm.customerSignUp.lastName" placeholder="{{ 'lastName' | i18next }}"/>
                        <!-- <input type="text" ng-model="vm.customerSignUp.name" placeholder="{{ 'displayName' | i18next }}"/> -->
                        <input type="email" ng-model="vm.customerSignUp.email" placeholder="{{ 'email' | i18next }}"/>
                        <input type="password" ng-model="vm.customerSignUp.password" placeholder="{{ 'password' | i18next }}"/>
                        <input type="password" ng-model="vm.customerSignUp.confirmPassword" placeholder="{{ 'confirmPassword' | i18next }}"/>
                        <div id="login-g-recapcha"></div>
                        <button ng-click="vm.onSignUp()" style="margin-top:10px" class="btn btn-default">{{ 'signup' | i18next }}</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

<section ng-if="!vm.isLoginPage" id="sign-up-success" class="cart-wrapper" style="margin-top: 10px; margin-bottom: 60px">
    <div class="container">

        <div style="text-align: center; margin-bottom: 3rem">
            <h3 style="color: #696763">Đăng ký tài khoản thành công</h3>
        </div>

        <div class="register-req" style="margin-top: -20px">
            <h5>Đã gửi thư kích hoạt tài khoản thành công.</h5>
            <p>Chúng tôi đã gửi đến địa chỉ email <b>{{vm.customerSignUp.email}}</b> một thư kích hoạt tài khoản. Bạn vui lòng giúp chúng tôi kiểm tra mail và xác nhận kích hoạt tài khoản với nhé.</p>
            <p>Cám ơn đã đăng ký tài khoản ở FoodTech. Bạn sẽ nhận được nhiều chương trình ưu đã mua hàng giảm giá hơn.</p>
            <button ng-click="vm.backToLoginPage()" 
            style="margin-top:10px; background: #ff8080; border-radius: 0;color: #FFFFFF;" 
            class="btn btn-default">{{ 'backToLoginPage' | i18next }}</button>
        </div>    
    </div><!--/register-req-->
</section> <!--/#cart_items-->

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
    </script>
    <script type="text/javascript">
    var onloadCallback = function() {
        window.foodtechLoginGReCapcha = grecaptcha.render('login-g-recapcha', {
        'sitekey' : '6LcDoY8UAAAAAOPbEpQPnOefbqbDtOe-5pg0eGbD'
        });
    };
</script>