    <style>
        tbody tr:hover {
            cursor: pointer
        }
    </style>

    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>    
                <th ng-if="hasCheckBox"><input type="checkbox" ng-model="config.checkBoxOptions.checkAll" value="" ng-click="config.checkBoxOptions.toggleCheckAll()"></th>
                <th ng-if="items[0].numberIndex">
                    Index
                </th>
                <th ng-repeat="label in config.arrayColumnLabel" ng-i18next>{{::label}}</th>
            </tr> 
        </thead>
        <tbody>
            <tr ng-repeat="song in items" 
                ng-show="hasResult"
                ng-click="config.trClick(song)"
            >
                <td
                    ng-if="hasCheckBox"
                >
                    <input 
                        type="checkbox" 
                        value="" 
                        ng-model="song.checked" 
                        ng-click="config.checkBoxOptions.toggleCheckOne(song); $event.stopPropagation();">
                </td>   
                <td ng-if="items[0].numberIndex">
                    {{::song.numberIndex}}
                </td>                            
                <td 
                    ng-repeat="content in config.arrayColumnContent">
                        {{::song[content]}}
                        <span ng-if="content.labelClass" ng-class="content.labelClass">{{::song[content.key]}}</span>
                        <img ng-if="content.image && song[content.url]" ng-src="{{content.baseUrlForImg}}{{song[content.url]}}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="50" height="50"> 
                        <img ng-if="content.image && !song[content.url]" ng-src="/images/no-image.png" class="img-responsive img-thumbnail" alt="No Img" width="50" height="50"> 
                </td> 
                <td>
                    <button type="button" 
                            ng-repeat="buttonName in config.arrayActions" 
                            ng-hide="buttonName.hide(song)" 
                            ng-disabled="buttonName.disabled(song)" 
                            ng-click="buttonName.action(song, $event); $event.stopPropagation();" 
                            ng-class="buttonName.className" 
                            aria-label="Left Align" 
                            ng-i18next="[title]{{buttonName.tooltipTitle}}"
                            style="margin-right:5px"
                            title="i18next"
                            tooltip>
                            <i ng-class="buttonName.iconClass" aria-hidden="true"></i> 
                            <!-- <b ng-i18next>{{buttonName.buttonName}}</b> -->
                    </button>
                </td>
                    
            </tr>
            <tr ng-show="!hasResult">
                <td colspan="7" class="text-center no-result">
                    <label ng-class="noResultClass"> 
                        <i>No Result...</i> 
                    </label>
                </td>
            </tr> 
        </tbody>
    </table>
